{% extends "main_layout.html" %}
{% load i18n %}
{% block title %}{% trans 'Users_list' %}{% endblock %}
{% load django_bootstrap5 %}

{% block main %}
    <h1>{% trans 'Users_list' %}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% translate 'id' %}</th>
                <th>{% translate 'user_name' %}</th>
                <th>{% translate 'full_name' %}</th>
                <th>{% translate 'date_joined' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.get_full_name }}</td>
                <td>{{user.date_joined}}</td>
                <td>
                    <a href="{% url 'delete_user' user.id %}">{% translate 'remove' %}</a>
                    <br />
                    <a href="{% url 'update_user' user.id %}">{% translate 'change' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

