<!DOCTYPE html>
<html lang="ru">
<head>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>{% block title %}Main Page{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% block header %}
        {% include "navigation.html" %}
    {% endblock %}
    <div class="container wrapper flex-grow-1 mt-3">
        {% block main %}{% endblock %}
    </div>
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>
