{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="/">{% trans 'Task_manager' %}</a>
  <button class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarToggleExternalContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users' %}">{% trans 'Users' %}</a>
      </li>
      {% if not request.user.id %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">{% trans 'sign_in' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_user' %}">{% trans 'sign_up' %}</a>
      </li>
      {% endif %}
      {% if request.user.id %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'statuses_list' %}">{% translate 'Statuses' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks_list' %}">{% translate 'Tasks' %}</a>
      </li>
      <li class="nav-item">
        <form method="POST", action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="btn btn-dangerbtn btn-danger">{% translate 'logout' %}</button>
        </form>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>